<!DOCTYPE html>
<html lang="fr">
	<head>
		<link rel="stylesheet" href="../static/styles/compte_body.css">
		<link rel="stylesheet" href="../static/styles/header.css">
		<link rel="stylesheet" href="../static/styles/footer.css">
		<link href="//db.onlinewebfonts.com/c/3066b11123e63381b8e2aa554b18bf32?family=Bauhaus+93" rel="stylesheet" type="text/css"/>
		<meta charset="utf-8">
		<title>QUIZZ BUSTERS</title>
	</head>
	<body>
		<header>
			<div class="center">
				<h1 class="titre"><a href="index.html">QUIZZ BUSTERS</a>&nbsp; &nbsp;Qui sera le meilleur?</h1>
			</div>
			<div class="info_user">
				<h2 class="new_account"><a href="registration.html">Créer mon compte</a></h2>
				<h2 class="me"><a href="compte.html">Mon Compte</a></h2>
				<h2 class="login"><a href="login.html">Me connecter</a></h2>
			</div>
		</header>
		<div id="regle"><a href="regle.html">Comment jouer</a></div>
		<ul>
			<li>Nom: {{ name }}</li>
			<li>Mon meillleur score: {{ points }}</li>
			<li>Mon meilleur score de cette semaine: {{ ptsOfWeek }}</li>
			<!--<li>Proposer ue question</li>
			<li>Créer un salon</li>-->
			<a href="{{ url_for('logout') }}" class="btn">Me déconnecter</a>
		</ul>
		<footer>
			<p><a href="qui.html">Qui sommes-nous?</a></p>
		</footer>
	</body>
</html>
