<!DOCTYPE html>
<html lang="fr">
	<head>
		<link rel="stylesheet" href="../static/styles/body.css">
		<link rel="stylesheet" href="../static/styles/header.css">
		<link rel="stylesheet" href="../static/styles/footer.css">
		<link href="//db.onlinewebfonts.com/c/3066b11123e63381b8e2aa554b18bf32?family=Bauhaus+93" rel="stylesheet" type="text/css"/>
		<meta charset="utf-8">
		<title>QUIZZ BUSTERS</title>
	</head>
	<body>
		<header>
			<div class="center">
				<h1 class="titre"><a href="index.html">QUIZZ BUSTERS</a>&nbsp; &nbsp; &nbsp;Qui sera le meilleur?</h1>
			</div>
			<div class="info_user">
				<h2 class="new_account"><a href="registration.html">Créer mon compte</a></h2>
				<h2 class="me"><a href="compte.html">Mon Compte</a></h2>
				<h2 class="login"><a href="login.html">se connecter</a></h2>
			</div>
		</header>
		<div id="regle"><a href="regle.html">Comment jouer</a></div>
		<div class="center">
			<a href="game.html"><img class="buzzer" src="../static/images/buzz.jpg"></a>
			<div class="result">
				<h3>Scores de la semaine</h3>
				<ul>
					{% for unique in all %}
					<li>{{ unique['name'] }}  {{ unique['pts_of_week'] }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<footer>
			<p><a href="qui.html">Qui sommes-nous?</a></p>
		</footer>
	</body>
</html>
