<!DOCTYPE html>
<html lang="fr">
	<head>
		<link rel="stylesheet" href="../static/styles/body_login.css">
		<link rel="stylesheet" href="../static/styles/header.css">
		<link rel="stylesheet" href="../static/styles/footer.css">
		<link href="//db.onlinewebfonts.com/c/3066b11123e63381b8e2aa554b18bf32?family=Bauhaus+93" rel="stylesheet" type="text/css"/>
		<meta charset="utf-8">
		<title>QUIZZ BUSTERS</title>
	</head>
	<body>
		<header>
			<div class="center">
				<h1 class="titre"><a href="index.html">QUIZZ BUSTERS</a>&nbsp; &nbsp; &nbsp;Qui sera le meilleur?</h1>
			</div>
			<div class="info_user">
				<h2 class="new_account"><a href="registration.html">Créer mon compte</a></h2>
				<h2 class="me"><a href="compte.html">Mon Compte</a></h2>
				<h2 class="login"><a href="login.html">se connecter</a></h2>
			</div>
		</header>
		<div class="user_login">
			<div class="old_user">
				<p id="mini_titre">Vous avez déjà un compte</p>
				<form action="{{ url_for('login') }}" method="post">
					<div class="msg">{{ msg }}</div>
					<p>Nom d'utilisateur:</p><input type="text" id="name_user" name="name" placeholder="Votre pseudo" required>
					<p>Mot de passe:</p><input type="password" id="pwd" name="pwd" placeholder="mot de passe" required><br>
					<br>
				<button>VALIDER</button>
				</form>
				<p id="oubli">J'ai oublié mon mot de passe</p>
			</div>
		</div>
	</body>
</html>
