body {
	background: rgb(8, 43, 95);
	margin-bottom: auto;
	color: whitesmoke;
}
#regle {
	font-size: larger;
}
.center {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.buzzer {
	float: left;
}
@font-face {
	font-family: bauhaus;
	src: url(Bauhaus93_V1.woff);
}
.result {
	background-color: rgba(233, 164, 15, 0.836);
	height: 400px;
	width: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: rgba(14, 27, 216, 0.589);
	font-family: bauhaus;
	overflow: auto;
}
h3 {
	font-size: 35px;
	margin-bottom: 10px;
}
li {
	margin-bottom: 10px;
	font-size: 30px;
}

