header {
	background-color: rgb(96, 125, 204);
	height: auto;
	width: auto;
	position: relative;
	display: flex;
	flex-direction: row;
}
@font-face {
	font-family: bauhaus;
	src: url(Bauhaus93_V1.woff);
}
.titre {
	font-size: 65px; 
	color: rgba(243, 180, 8, 0.897);
	display: flex;
	align-content: center;
	justify-content: flex-start;
	font-family: bauhaus;
	margin: 0%;
}
.login {
	display: flex;
	flex-direction: column;
	justify-content: flex-end !important;
	color: rgba(243, 180, 8, 0.897);
	font-family: bauhaus;
	margin: 0px;

}
a {
	color: rgba(243, 180, 8, 0.897);
	font-family: bauhaus;
}

